html, body {
  height: 100%; }

body {
  display: flex;
  align-items: center; 
  background-image: url("../im/bg4.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/* MAP */
#map {
  height: 600px; 
}

/* INFO WINDOW */
.gm-style-iw {
	width: 450px !important;
	top: 0px !important;
	left: 17px !important;
	background-color: rgb(46, 46, 46);
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 2px 2px 2px 2px;
}
#iw-container {
	margin-bottom: 5px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #26292b;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
  max-height: 245px;
  color: white;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
  padding: 5px 0;
  color: white;
}



